.list_fl {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.li_fltit {
	BORDER-BOTTOM: #e3e3e3 1px solid; PADDING-LEFT: 15px; BACKGROUND: #faf2f2; HEIGHT: 28px
}
.fl_left {
	LINE-HEIGHT: 28px; FLOAT: left; COLOR: #422603; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.fl_left SPAN {
	PADDING-LEFT: 10px; COLOR: #666; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.fl_right {
	LINE-HEIGHT: 28px; PADDING-RIGHT: 6px; FLOAT: right
}
.fl_right LI {
	FLOAT: right; PADDING-TOP: 1px
}
.jingpin A {
	PADDING-LEFT: 17px; BACKGROUND: url(../img/jingpin.gif) no-repeat 0px -1px; COLOR: #0d4fd4
}
.save A {
	PADDING-LEFT: 15px; BACKGROUND: url(../img/save_03.gif) no-repeat 0px 1px; COLOR: #666
}
.li_flcon {
	PADDING-LEFT: 15px; PADDING-TOP: 3px
}
.li_flcon LI {
	LINE-HEIGHT: 27px; PADDING-LEFT: 12px; WIDTH: 212px; BACKGROUND: url(../img/dot.gif) no-repeat 0px 7px; FLOAT: left; FONT-SIZE: 14px
}
.li_flcon LI A {
	COLOR: #000
}
.li_flcon LI SPAN {
	COLOR: #919191; FONT-SIZE: 12px
}
.title5 {
	BORDER-BOTTOM: #e86d00 1px solid; HEIGHT: 29px
}
.title5 LI {
	PADDING-RIGHT: 4px; FLOAT: left
}
.sa01 {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; PADDING-LEFT: 10px; WIDTH: 101px; BACKGROUND: url(../img/csbottom.gif) no-repeat; HEIGHT: 29px; COLOR: #fff; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.sa01 A {
	COLOR: #fff
}
.sa02 {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; PADDING-LEFT: 14px; WIDTH: 97px; BACKGROUND: url(../img/hs.gif) no-repeat; HEIGHT: 29px; COLOR: #626262; FONT-SIZE: 14px; CURSOR: pointer
}
.sa02 A {
	COLOR: #626262
}
.sa03 {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; PADDING-LEFT: 10px; WIDTH: 101px; BACKGROUND: url(../img/cstop.gif) no-repeat; HEIGHT: 29px; COLOR: #fff; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.sa03 A {
	COLOR: #fff
}
.indicat {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 12px
}
.lihead {
	LINE-HEIGHT: 32px; BACKGROUND: url(../img/lihead_bg.gif) repeat-x; HEIGHT: 32px
}
.lihead_l {
	PADDING-LEFT: 15px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.lihead_l2 {
	PADDING-LEFT: 37px; BACKGROUND: url(../img/jing.gif) no-repeat 15px 8px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.lihead_l A {
	COLOR: #2566c7
}
.lihead_l2 A {
	COLOR: #2566c7
}
.lihead_r {
	PADDING-RIGHT: 16px; FLOAT: right
}
.lihead_r A {
	COLOR: #666
}
.licon {
	PADDING-LEFT: 15px
}
.liconpic {
	WIDTH: 65px; FLOAT: left
}
.liconwd {
	LINE-HEIGHT: 19px; FLOAT: left
}
.liconwd A {
	COLOR: #666
}
.liconwd IMG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 1px; PADDING-TOP: 3px
}
.blu {
	COLOR: #0d4fd4
}
.licondw {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 28px; PADDING-RIGHT: 16px; BACKGROUND: url(../img/down2.gif) no-repeat 0px 15px; FLOAT: right; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 18px
}
.licondw A {
	COLOR: #2566c7
}
.dash {
	BORDER-BOTTOM: #e3e3e3 1px dashed
}
.keyword {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; BORDER-TOP: #e3e3e3 1px dashed; PADDING-TOP: 9px
}
.key_l {
	FLOAT: left; HEIGHT: 55px; COLOR: #2566c7; PADDING-TOP: 4px
}
.key_r {
	LINE-HEIGHT: 22px
}
.key_r A {
	PADDING-RIGHT: 18px; COLOR: #2566c7
}
.aman {
	PADDING-RIGHT: 16px; BACKGROUND: url(../img/classj.gif) no-repeat right 50%
}
.earn_con {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; PADDING-LEFT: 22px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/num.gif) no-repeat 0px 9px; PADDING-TOP: 4px
}
.earn_con LI {
	LINE-HEIGHT: 25px
}
.earn_con LI SPAN {
	LINE-HEIGHT: 25px; WIDTH: auto; PADDING-RIGHT: 16px; FLOAT: right
}
.earn_con LI A {
	COLOR: #666
}
.left248 {
	BORDER-BOTTOM: #d2d2d1 1px solid; BORDER-LEFT: #d2d2d1 1px solid; WIDTH: 248px; BORDER-TOP: #d2d2d1 1px solid; BORDER-RIGHT: #d2d2d1 1px solid
}
.datainfoXXK {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: url(../img/tab_bg.png) repeat-x 0px 25px
}
.datainfoXXK LI {
	FLOAT: left
}
.datainfoXXK LI A {
	BORDER-BOTTOM: #deefde 0px solid; BORDER-LEFT: #deefde 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; OUTLINE-STYLE: none; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; DISPLAY: block; BACKGROUND: url(../img/tab_bg.png) repeat-x 0px -26px; FLOAT: left; HEIGHT: 24px; COLOR: #000; OVERFLOW: hidden; BORDER-TOP: #deefde 1px solid; BORDER-RIGHT: #deefde 1px solid; PADDING-TOP: 0px
}
.datainfoXXK LI A.active {
	BORDER-BOTTOM-COLOR: #f1f7dd; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #8fc7b0; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-COLOR: #8fc7b0; BORDER-LEFT-COLOR: #8fc7b0; BORDER-LEFT-WIDTH: 1px; TEXT-DECORATION: none
}
.datainfoXXK A:hover {
	BORDER-BOTTOM-COLOR: #8fc7b0; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #8fc7b0; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-COLOR: #8fc7b0; BORDER-LEFT-COLOR: #8fc7b0; BORDER-LEFT-WIDTH: 1px; TEXT-DECORATION: none
}
.datainfoXXK LI A.active {
	BACKGROUND-POSITION: 0px -1px; HEIGHT: 25px; COLOR: #2b5d48; FONT-WEIGHT: bold
}
