*{margin:0;padding:0;list-style-type:none;}
a{blr:expression(this.onFocus=this.blur())}/*ȥ��a��ǩ�����߿򣬱��������ֵ�ѡ������*/
:focus{outline:0;}
label{cursor:pointer;}
img{vertical-align:middle;}
table{empty-cells:show;border-collapse:collapse;border-spacing:0;}
h1{font-size:16px;}h2,h3,h4{font-size:14px;}h5,h6{font-size:12px;}
abbr,acronym{border:0;font-variant:normal}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
a,img{border:0;}
a,a:visited{color:#333; text-decoration:none;}
a:hover{color:#4183C4;text-decoration:underline;}
.clear{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
/*.slider{margin:0px auto;width:760px;height:342px;*//* border:1px solid #ccc *//*;position:relative;overflow:hidden;}*/
        .conbox{position:absolute;/*��ҪԪ��*/}
        .switcher{position:absolute;bottom:10px;right:10px;float:right;z-index:10;}
        .switcher a{
            border-radius: 20px 20px 20px 20px;
            color: #fff;
            background:#999;border:0px solid #cccccc;cursor:pointer;float:left;font-family:arial;height:20px;line-height:20px;width:20px;margin:4px;text-align:center;}
        .switcher a.cur,.switcher a:hover{color:#fff;text-decoration:none;background:#0055AC;border:0px solid #cccccc;height:20px;line-height:20px;width:20px;margin:4px;color:#fff;font-weight:800;}
       .zy-adv .slider{width: 740px;height: 120px;}
.slider {
    height: 332px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 750px;
}
#slider4.slider{
    width:350px;
    height:200px;

}
#slider5.slider{
    width:740px;
    height:120px;

}
#slider6.slider{
    width:715px;
    height:230px;

}

