.ui-top{ background-color: #eeeeee;border-bottom: 1px solid #dcdcdc;color: #666;}
.ui-top div{background-color: #EEEEEE;}
.ui-color-green{color:#418b00}
#top-login a{color:#666}
.ui-menu-content{background-color: #1B5F91;border-bottom: solid #1B5F91;}
.ui-cur-column{background-color: #1B5F91;color: #fff;font-family: "宋体";text-align: center;}
.main-border{
    border: 1px solid #dddddd;
}